<div class="game-details" *ngIf="game && !loading; else loadingTmpl">
    <img [src]="game.imageUrl" [alt]="game.title">
    <h1>{{ game.title }}</h1>
    <div class="price">{{ game.price | currency:'USD':'symbol':'1.2-2' }}</div>
    <div class="rating">Rating: {{ game.rating | number:'1.1-1' }}/5</div>
    <div class="platforms">
      Platforms: 
      <span *ngFor="let platform of game.platforms">{{ platform }}</span>
    </div>
    <p *ngIf="game.description">{{ game.description }}</p>
    <button (click)="addToCart()">Add to Cart</button>
  </div>
  
  <ng-template #loadingTmpl>
    <div class="loading">
      {{ error ? error : 'Loading game details...' }}
    </div>
  </ng-template>